/* Offwhite #f9e7d7 */
body {
   font-family: "arboria", sans-serif;
   font-weight: 500;
   font-style: normal;
   background-color: rgb(244, 241, 225);
}
header{
    padding: 30px;
    background-color: rgb(244, 241, 225);
    
    
}
.header-sec{
    align-items: center;
    display: flex;
    justify-content: space-evenly;

}
.header-left{

}
.header-menu-item{
    font-size: 25px;
    color: rgb(65, 65, 65);
}
ul{
    display: flex; 
    padding: 0;
    gap: 40px;
 
}
a{
    color: rgb(65, 65, 65);   
}
li{
    list-style: none;
   
}
a{
    text-decoration: none;
}
a:hover{
    
    text-decoration: underline 5px;
    color: #4848f3;

}
.user-logo-center img{ 
    width: 20%;
}
.user-logo-center{
    text-align: center;
}

.welcome-sec{
    align-content: center;
    padding: 200px; 
    background-color: rgb(244, 241, 225);
    border-radius: 20px;
    margin: 50px;
    

}
.welcome-text{
    text-align: center;
    margin: auto;
}
span{
    font-size: 40px;
}
.primary-button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: rgb(65, 65, 65);
    border: none;
    text-align: center;
   
}
.primary-button:hover{
    background-color: #4848f3;
}
.welcome-sec-button{
    text-align: center;
    margin: 40px;
}

.section-three img{
    width: 100%;
    border-radius: 20px;  
}
.section-three-photo-container{
    text-align: center; 
    display: flex;
    gap: 30px;
    padding: 50px;
}
.sec-three-button{
    text-align: center;
    margin: 40px;

}
.secondary-button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.secondary-button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: rgb(65, 65, 65);
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    text-align: center;

}
h2{
    font-size: 30px;
    padding-left: 50px;
    text-align: center;
    color: rgb(244, 241, 225);
}
.work-row1 img{
    width: 100%;
    border-radius: 20px;
    
}
.work-row-container{
    padding: 50px;
}
.work-row1{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.work-bottom-text h2{
    font-size: 25px;
    padding: 0;
}
.work-title-sub{
    font-family: arboria, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}
.contact-container{
    text-align: center;
}
footer{
    background-color: #4848f3;
}