/* Offwhite #f9e7d7 */
body {
   background-color: #f9e7d7; 
   font-family: neighbor, sans-serif;
   font-weight: 500;
   font-style: normal;
}
header {
    margin: 30px;
    padding: 40px;
    background-color: #5962ff;
    
}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 20px;
}

a {
    color: #f9e7d7 ;
    text-decoration: none; 
    font-size: 30px;

}
